<div id="layoutSidenav_nav" >
  <nav class="sb-sidenav accordion sb-sidenav-light cor" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Sistema</div>
        <a class="nav-link" routerLink="/home">
          <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
          Home
        </a>
        <div class="sb-sidenav-menu-heading"><i class="fa fa-paste"></i> Operaçoes</div>
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
          Cliente
          <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" routerLink="/clientes/listar"> Listagem</a>
            <a class="nav-link" routerLink="/clientes/novo"> Cadastro </a>
            <a class="nav-link" href="#"> Relatório </a>
          </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false"
          aria-controls="collapsePages">
          <div class="sb-nav-link-icon"><i class="fa fa-cart-plus"></i></div>
          Serviço
          <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth"
              aria-expanded="false" aria-controls="pagesCollapseAuth">Authentication
              <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
              data-parent="#sidenavAccordionPages">
              <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a class="nav-link"
                  href="register.html">Register</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
            </div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError"
              aria-expanded="false" aria-controls="pagesCollapseError">Error
              <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
              data-parent="#sidenavAccordionPages">
              <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a
                  class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
            </div>
          </nav>
        </div>
        <div class="sb-sidenav-menu-heading"><i class="fa fa-cogs"></i> Definições</div>

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePerfil"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-wrench"></i></div>
          Usuarios
          <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePerfil" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="#"> Grupo</a>
            <a class="nav-link" href="#"> Perfil</a>
            <a class="nav-link" href="#"> Permissões</a>
          </nav>
        </div>
        <div class="sb-sidenav-menu-heading">Logout</div>
       <a class="nav-link" href="tables.html">
          <div class="sb-nav-link-icon"><i class="fa fa-sign-out"></i></div>
          Sair
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer log">
      <div class="small">Logado como:</div>
      Start Bootstrap
    </div>
  </nav>
</div>
